body{
	background: url(https://xwz010577.github.io/wwq/background.jpg);
}
.m-padded-tb-mini{
	padding-top: 0.2em !important;
	padding-bottom: 0.2em !important;
}
.m-padded-tb-small{
	padding-top: 1em !important;
	padding-bottom: 1em !important;
}
.m-padded-tb{
	padding-top: 1em !important;
	padding-bottom: 1em !important;
}
.m-padded-tb-large{
	padding-top: 2em !important;
	padding-bottom: 2em !important;
}
.m-padded-tb-big{
	padding-top: 3em !important;
	padding-bottom: 3em !important;
}
.m-padded-tb-huge{
	padding-top: 4em !important;
	padding-bottom: 4em !important;
}
.m-padded-tb-massive{
	padding-top: 5em !important;
	padding-bottom: 5em !important;
}
/* margin */
.m-margin-tb-mini{
	margin-top: 0.3em !important;
	margin-bottom: 0.3 !important;
}
.m-inline-block{
	display: inline-block !important;
}
.m-text{
	font-weight: 300 !important;
	letter-spacing: 1px !important;
	line-height: 1.8;
}
.m-right-top{
	position: absolute;
	top: 0;
	right: 0;
}
.m-opactity-tiny{
	opacity: 0.8 !important;
}
.m-mobile-show{
	display: none !important;
}
@media screen and (max-width:48rem) {
	.m-mobile-hide{
		display: none !important;
	}
	.m-mobile-show{
		display: block !important;
	}
}
